﻿@{
    ViewData["Title"] = "Strona Główna";
}
@using PlatformaELearningowa.Web.Models.Entities
@model IEnumerable<Announcement>

@foreach(var a in Model)
{
    <div>
        <h2>
            @a.Title
        </h2>
        <p>
            @a.Content
        </p>
        <hr />
    </div>
}