﻿@using PlatformaELearningowa.Web.Models.ViewModels.Account
@model RegisterViewModel
@{
    Layout = "_SimpleLayout";
    ViewData["Title"] = "Rejestracja";
}
<div class="row">
    <div class="offset-md-4 col-md-4 border border-success rounded p-5">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Stwórz nowe konto</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Zarejestruj</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
