﻿@using PlatformaELearningowa.Web.Models.ViewModels.Projects
@model ProjectStudentVM
@{
    Layout = "_Layout";
}
<h3>@Model.Course.Name - @Model.Title</h3>
<p>@Model.Description</p>
<hr />
<h4>Powiązany Plik</h4>

<!-- File Upload -->
<form asp-action="ProjectFileUpload" asp-controller="Files"
      method="post" class="row" enctype="multipart/form-data" id="file-upload-form">
    @Html.AntiForgeryToken()
    <input asp-for="ProjectId" type="hidden" />
    <div class="col-md-8">
        <div class="form-group">
            <input name="File" id="FileUploadModel_File" type="file" class="filestyle"
                   data-text="Wybierz Plik" data-btnClass="btn-info" />
            <span asp-validation-for="FileUpload" class="text-danger" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-success" value="Dodaj" onclick="uploadFile()" />
        </div>
    </div>
</form>

<!-- File Display -->
<div class="row mt-2" id="file">
    @if (Model.File != null)
    {
        <div class="col-md-8">
            <a asp-action="ProjectFileDownload" asp-controller="Files" asp-route-projectId="@Model.ProjectId">
                <i class="fa fa-file"></i> @Model.File.Name.
            </a>
        </div>
        <div class="col-md-4">
            <form asp-action="ProjectFileDelete" asp-controller="Files" method="post"
                  id="file-delete-form">
                @Html.AntiForgeryToken()
                <input name="projectId" value="@Model.ProjectId" type="hidden" />
                <button class="btn btn-danger" type="button"
                        onclick="deleteFile()">
                    <i class="fa fa-trash"></i>
                </button>
            </form>
        </div>
    }
    else
    {
        <div class="col-md-12 text-center">Brak powiązanego pliku</div>
    }
</div>

<hr />
<h4>Uwagi Nauczyciela</h4>
<p>@Model.PublicTeacherComment</p>

@section Scripts {
    <script>
        let deleteFile = () => {
            let deletionForm = $('#file-delete-form');

            $.ajax({
                type: 'POST',
                url: deletionForm.prop('action'),
                data: deletionForm.serialize(),
            })
                .done((data, textStatus, jqXHR) => {
                    $.notify(data, 'success');
                    $('#file').remove();
                })
                .fail((jqXHR, textStatus, errorThrown) => {
                    $.notify(jqXHR.responseText, "error");
                });
        };

        let uploadFile = () => {
            let uploadForm = $('#file-upload-form');
            let data = new FormData(uploadForm[0]);

            $.ajax({
                url: uploadForm.prop('action'),
                type: 'POST',
                enctype: 'multipart/form-data',
                cache: false,
                contentType: false,
                processData: false,
                data: data,
            })
                .done(() => {
                    location.reload(true);
                })
                .fail((jqXHR, textStatus, errorThrown) => {
                    $.notify(jqXHR.responseText, "error");
                });
        };
    </script>
}