﻿@using PlatformaELearningowa.Web.Models.ViewModels.Projects
@model ProjectTeacherVM
@{
    Layout = "_Layout";
}
<h3>@(Model.ProjectId == null ? "Stwórz" : "Edytuj") Projekt</h3>
<form asp-action="Write" asp-controller="Projects" method="post">
    @Html.AntiForgeryToken()
    @if (Model.ProjectId != null)
    {
        <input type="hidden" asp-for="ProjectId" />
    }
    <input type="hidden" asp-for="StudentId" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CourseId"></label>
        <select class="form-control" asp-for="CourseId">
            @foreach (var course in Model.AvailableCourses)
            {
                <option value="@course.CourseId">@course.Name</option>
            }
        </select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PrivateTeacherComment"></label>
        <textarea asp-for="PrivateTeacherComment" class="form-control"></textarea>
        <span asp-validation-for="PrivateTeacherComment" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PublicTeacherComment"></label>
        <textarea asp-for="PublicTeacherComment" class="form-control"></textarea>
        <span asp-validation-for="PublicTeacherComment" class="text-danger"></span>
    </div>
    <div class="btn btn-group">
        <input type="submit" value="Zatwierdź" class="btn btn-success" />
        @Html.ActionLink("Anuluj", "Form", "Students", new { studentId = Model.StudentId }, new { @class = "btn btn-danger" })
    </div>
</form>
<hr />
<h4>Plik z projektem</h4>
<!-- File Display -->
<div class="row mt-2" id="file">
    @if (Model.File != null)
    {
        <div class="col-md-8">
            <a asp-action="ProjectFileDownload" asp-controller="Files" asp-route-projectId="@Model.ProjectId">
                <i class="fa fa-file"></i> @Model.File.Name.
            </a>
        </div>
        <div class="col-md-4">
            <!--
    <form asp-action="ProjectFileDelete" asp-controller="Files" method="post"
          id="file-delete-form">
        @Html.AntiForgeryToken()
        <input name="projectId" value="@Model.ProjectId" type="hidden" />
        <button class="btn btn-danger" type="button"
                onclick="deleteFile()">
            <i class="fa fa-trash"></i>
        </button>
    </form>
                -->
        </div>
    }
    else
    {
        <div class="col-md-12 text-center">Brak powiązanego pliku</div>
    }
</div>