﻿@using PlatformaELearningowa.Web.Models.ViewModels.Courses
@using PlatformaELearningowa.Web.Models.ViewModels.Topics
@using PlatformaELearningowa.Web.Models.Entities
@using Microsoft.AspNetCore.Identity;

@model TopicDetailedVM
@{
    ViewData["Title"] = Model.Name;
}
<h2 class="row">@Html.Encode(Model.Name)</h2>
<div class="panel">
    <div class="row">
        @Model.Description
    </div>

    <hr />

    <div class="container mt-3">
        @if (User.IsInRole("Teacher"))
        {
        <form asp-action="CourseFileUpload" asp-controller="Files"
              method="post" class="row" enctype="multipart/form-data" id="file-upload-form">
            @Html.AntiForgeryToken()
            <input asp-for="CourseId" type="hidden" />
            <input asp-for="TopicId" type="hidden" />
            <div class="col-md-8">
                <div class="form-group">
                    <input name="file" id="file" type="file" class="filestyle"
                           data-text="Wybierz Plik" data-btnClass="btn-info" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" class="btn btn-success" value="Dodaj Plik" onclick="uploadFile()" />
                </div>
            </div>
        </form>
        }
        @foreach (var file in Model.Files)
        {
            <div class="row mt-2" id="file-@file.FileId">
                <div class="col-md-8">
                    <a asp-action="CourseFileDownload" asp-controller="Files"
                       asp-route-courseId="@Model.CourseId"
                       asp-route-topicId="@Model.TopicId"
                       asp-route-fileId="@file.FileId">
                        <i class="fa fa-file"></i> @file.Name
                    </a>
                </div>
                <div class="col-md-4">
                    @if (User.IsInRole("Teacher"))
                    {
                    <form asp-action="FileDelete" asp-controller="Files" method="post"
                          id="file-delete-form-@file.FileId">
                        @Html.AntiForgeryToken()
                        <input name="fileId" value="@file.FileId" type="hidden" />
                        <button class="btn btn-danger" type="button"
                                onclick="deleteFile(@file.FileId)">
                            <i class="fa fa-trash"></i>
                        </button>
                   </form>
                   }
                </div>
            </div>
        }
    </div>
</div>
<hr />
@Html.ActionLink("Powrót na stronę kursu", "Details", "Courses", new { Model.CourseId })

@section Scripts {
    @if (User.IsInRole("Teacher"))
    {
    <script>
        let deleteFile = (fileId) => {
            let deletionForm = $('#file-delete-form-' + fileId);

            $.ajax({
                type: 'POST',
                url: deletionForm.prop('action'),
                data: deletionForm.serialize(),
            })
                .done((data, textStatus, jqXHR) => {
                    $.notify(data, 'success');
                    $('#file-' + fileId).hide();
                })
                .fail((jqXHR, textStatus, errorThrown) => {
                    $.notify(errorThrown, 'error');
                });
        };

        let uploadFile = () => {
            let uploadForm = $('#file-upload-form');
            let data = new FormData(uploadForm[0]);

            $.ajax({
                url: uploadForm.prop('action'),
                type: 'POST',
                enctype: 'multipart/form-data',
                cache: false,
                contentType: false,
                processData: false,
                data: data,
            })
                .done(() => {
                    location.reload(true);
                })
                .fail((jqXHR, textStatus, errorThrown) => {
                    $.notify(jqXHR.responseText, "error");
                });
        };
    </script>
    }
}