﻿@using PlatformaELearningowa.Web.Models.ViewModels.Topics
@model TopicWriteVM

@{
    var editionForm = Model?.TopicId != null;
    ViewData["Title"] = (editionForm ? "Edytuj" : "Stwórz") + "Temat";
}
<div class="border border-success rounded p-5 mt-5">
    <h2>@(editionForm ? "Edytuj " : "Stwórz") Temat</h2>
    <form asp-action="@(editionForm ? "Update" : "Create")" asp-controller="Topics"
          enctype="multipart/form-data" method="post">
        @Html.AntiForgeryToken()

        @if (editionForm)
        {
            <input asp-for="TopicId" type="hidden" />
        }
        <input asp-for="CourseId" type="hidden"/>

        <div class="form-group">
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" class="form-control" placeholder="" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Zatwierdź" class="btn btn-success" />
            <a class="btn btn-danger" href="@Url.Action("Index")">Anuluj</a>
        </div>

    </form>
</div>