﻿@using PlatformaELearningowa.Web.Models.ViewModels.Topics
@model IEnumerable<TopicSimpleVM>
@{ 
    Layout = null;
}

<div class="list-group">
    <div class="list-group-item text-center">
        <a asp-action="GetForm" class="btn btn-success">Nowy Temat</a>
    </div>
    @foreach (TopicSimpleVM t in Model)
    {
        <div class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-md-3 col-md-6 text-center">
                        <a href="@Url.Action("Details", "Topics", new { topicId = t.TopicId })">
                            @t.Name
                        </a>
                    </div>
                    <div class="offset-md-1 col-md-1">
                        @if (User.IsInRole("Teacher"))
                        {
                        <a asp-action="GetForm" asp-controller="Topics" asp-route-topicId="@t.TopicId"
                           class="btn btn-info">
                            <i class="fa fa-pencil"></i>
                        </a>
                        }
                    </div>
                    <div class="col-md-1">
                        @if (User.IsInRole("Teacher"))
                        {
                        <form asp-action="Delete" asp-controller="Topics" asp-route-topicId="@t.TopicId">
                            @Html.AntiForgeryToken()
                            <input type="hidden" for="@t.CourseId" name="@t.CourseId" />
                            <button class="btn btn-danger" type="submit"
                                    value="Usuń" style="cursor:pointer; ">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>