﻿@using PlatformaELearningowa.Web.Models.ViewModels.Students
@model StudentWriteVM
@{
    ViewData["Title"] = "Edycja Studenta";
}

<div class="border border-success rounded p-5 mt-5">
    <h2>Edycja</h2>
    <form asp-action="Update" asp-controller="Students"
          enctype="multipart/form-data" method="post" class="">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="UserName" class="col-form-label"></label>
            <!--<input asp-for="UserName" class="form-control" placeholder="" />-->
            <p>@Model.UserName</p>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-form-label"></label>
            <!--<input asp-for="Email" class="form-control" />-->
            <p>@Model.UserName</p>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <!--<input type="submit" value="Zatwierdź" class="btn btn-success" />-->
            <a class="btn btn-info" href="@Url.Action("Index")">Powrót</a>
        </div>
    </form>
    <hr />
    <h3>Powiązane Grupy</h3>
    <!-- Student Groups -->
    <div class="container mt-3">
        @if (Model.AvailableGroups.Count() > 0)
        {
            <form asp-action="AssociateUser" asp-controller="Groups"
                  method="post" class="row">
                <input type="hidden" name="userId" value="@Model.Id" />
                @Html.AntiForgeryToken()
                <div class="col-md-8">
                    <div class="form-group">
                        <select name="groupId" class="form-control">
                            @foreach (var group in Model.AvailableGroups)
                            {
                                <option value="@group.GroupId">
                                    @group.Name
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Dodaj Do Grupy" />
                    </div>
                </div>
            </form>
        }
        <!-- Groups List -->
        @foreach (var group in Model.AssociatedGroups)
        {
            <div class="row mt-2">
                <div class="col-md-8">
                    <a asp-action="Form" asp-controller="Groups" asp-route-groupId="@group.GroupId">
                        @group.Name
                    </a>
                </div>
                <div class="col-md-4">
                    <form asp-action="UnassociateUser" asp-controller="Groups" method="post">
                        @Html.AntiForgeryToken()
                        <input name="userId" value="@Model.Id" type="hidden" />
                        <input name="groupId" value="@group.GroupId" type="hidden" />
                        <button class="btn btn-danger" type="submit">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>
    <!-- Projects List -->
    <hr />
    <h3>Przydzielone Projekty</h3>
    <div class="text-center">
        @Html.ActionLink("Dodaj Projekt", "TeacherDetails", "Projects", new { studentId = Model.Id }, new { @class="btn btn-success"})
        @{Html.RenderPartial("_ProjectsList", Model.AssignedProjects);}
    </div>
</div>
@section Scripts{ 
<script>
    let success = Boolean('@(ViewData["Success"] as bool?)');
    let message = '@Html.Raw(ViewData["Notification"] as string)';
    $.notify(message, success ? 'success' : 'error');
</script>
}
