﻿@using PlatformaELearningowa.Web.Models.ViewModels.Students
@model IEnumerable<StudentSimpleVM>
@{
    ViewData["Title"] = "Studenci";
}
<h2>Studenci</h2>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.FirstOrDefault().UserName)
            </th>
            <th>
                Opcje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr id="student-@student.Id">
                <td>@student.Email</td>
                <td>@student.UserName</td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <a class="btn btn-info" asp-action="Form" asp-controller="Students"
                                   asp-route-studentId="@student.Id">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                            <div class="col-6">
                                <form asp-action="Delete" asp-controller="Students" method="post"
                                      id="student-delete-form-@student.Id">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" value="@student.Id" name="studentId"/>
                                    <button type="button" class="btn btn-danger"
                                            onclick="deleteStudent('@student.Id')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        let deleteStudent = (studentId) => {
            let form = $('#student-delete-form-' + studentId);
            $.ajax({
                type: 'POST',
                url: form.prop('action'),
                data: form.serialize(),
            })
                .done((data) => {
                    $.notify(data, 'success')
                    $("#student-" + studentId).hide();
                })
                .fail((jqXHR) => {
                    $.notify(jqXHR.responseText, 'error');
                });
        };
    </script>
}