﻿<!DOCTYPE html>
@{ string applicationName = "Platforma E-Learningowa"; }
<html>
<head>
    @{ Html.RenderPartial("_Head", applicationName); }
</head>
<body>
    <div class="container">
        @{ Html.RenderPartial("_Navbar", applicationName); }
        <div class="mt-5">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; 2017 - @applicationName</p>
        </footer>
    </div>
    @{ Html.RenderPartial("_Scripts"); }
    @RenderSection("Scripts", required: false)
</body>
</html>
