﻿@using Microsoft.AspNetCore.Identity
@using PlatformaELearningowa.Web.Models.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <!--
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Zarządzaj Kontem</a>
    </li>
    -->
    <li class="nav-item">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="btn btn-link nav-link" style="cursor: pointer;">Wyloguj</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Rejestracja</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Logowanie</a>
    </li>
}
