﻿@model string
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="@Url.Action("Index","Home")" class="navbar-brand">
            <img src="~/images/logo.png" class="logo" />
            <span class="navbar-brand">@Model</span>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarResponsive" style="">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Index", "Courses")'>
                        Dostępne Kursy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='@Url.Action("Index", "Courses", new { onlyAttended = true })'>
                        Moje Kursy
                    </a>
                </li>
                @if (User.IsInRole("Teacher"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href='@Url.Action("Index", "Students")'>
                            Studenci
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='@Url.Action("Index", "Groups")'>
                            Grupy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='@Url.Action("Index", "Announcements")'>
                            Ogłoszenia
                        </a>
                    </li>
                }
                else if (User.IsInRole("Student"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href='@Url.Action("Index", "Projects")'>
                            Moje Projekty
                        </a>
                    </li>
                }
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </div>
    </div>
</nav>