﻿@using PlatformaELearningowa.Web.Models.ViewModels.Projects
@model IEnumerable<ProjectSimpleVM>
@{
    Layout = null;
}
<div class="list-group mt-3">
    @foreach (var p in Model)
    {
        <div class="list-group-item" id="project-@p.ProjectId">
            <div class="container">
                <div class="row">
                    <div class="offset-md-2 col-md-8 text-center">
                        @Html.ActionLink(p.Course.Name + " - " + p.Title, User.IsInRole("Student") ? "StudentDetails" : "TeacherDetails", "Projects",
                            new { projectId = p.ProjectId })
                    </div>
                    <div class="offset-md-1 col-md-1">
                        @if (User.IsInRole("Teacher"))
                        {
                            <form asp-controller="Projects" asp-action="Delete" id="project-deletion-form-@p.ProjectId" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@p.ProjectId" name="projectId" />
                                <button onclick="deleteProject(@p.ProjectId);" class="btn btn-danger" type="button">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    function deleteProject(projectId) {
        let form = $('#project-deletion-form-' + projectId);
        let project = $('#project-' + projectId);
        console.log(form.serialize());
        $.ajax({
            url: form.prop('action'),
            data: form.serialize(),
            type: 'POST',
            success: function (data) {
                $.notify(data, 'success');
                project.remove();
            },
            error: function (jqXHR) {
                $.notify(jqXHR.responseText, 'error');
            }
        })
    }
</script>