﻿<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper/dist/umd/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/notify/dist/notify.js"></script>
    <script src="~/lib/bootstrap-filestyle/dist/bootstrap-filestyle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/notify/dist/notify.min.js"></script>
    <script src="~/lib/bootstrap-filestyle/dist/bootstrap-filestyle.min.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
<script>
</script>