﻿<!DOCTYPE html>
@{ string applicationName = "Platforma E-Learningowa"; }
<html>
<head>
    @{Html.RenderPartial("_Head", applicationName);}
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @{Html.RenderPartial("_Scripts");}
    @RenderSection("Scripts", required: false)
</body>
</html>
