﻿@using PlatformaELearningowa.Web.Models.ViewModels.Announcements
@model AnnouncementWriteVM
@{
    Layout = "_Layout";
}
<h2>@(Model.AnnouncementId == null? "Nowe Ogłoszenie" : "Edycja Ogłoszenia")</h2>
<form asp-action="Write" asp-controller="Announcements"
      enctype="multipart/form-data" method="post" class="">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="AnnouncementId" />
    <div class="form-group">
        <label asp-for="Title" class="col-form-label"></label>
        <input asp-for="Title" class="form-control" placeholder="" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="col-form-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CourseId"></label>
        <select class="form-control" asp-for="CourseId">
            <option value="null"></option>
            @foreach (var course in Model.AvailableCourses)
    {
        <option value="@course.CourseId">@course.Name</option>
}
        </select>
        <span asp-validation-for="CourseId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Zatwierdź" class="btn btn-success" />
        <a class="btn btn-danger" href="@Url.Action("Index")">Anuluj</a>
    </div>
</form>