﻿@using PlatformaELearningowa.Web.Models.Entities
@model IEnumerable<Announcement>
@{
    Layout = "_Layout";
}
<h2>Ogłoszenia</h2>

<div class="text-center mt-3">
    @Html.ActionLink("Dodaj Ogłoszenie","Form", "Announcements", new { }, new { @class ="btn btn-success" })
</div>
<table class="table text-center mt-3">
    <thead>
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Powiązany Przedmiot
            </th>
            <th>
                Opcje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var announcement in Model)
        {
            <tr id="announcement-@announcement.AnnouncementId">
                <td>@announcement.Title</td>
                <td>@announcement.Course?.Name</td>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <a class="btn btn-info" asp-action="Form" asp-controller="Announcements"
                                   asp-route-announcementId="@announcement.AnnouncementId">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                            <div class="col-6">
                                <form asp-action="Delete" asp-controller="Announcements" method="post"
                                      id="announcement-delete-form-@announcement.AnnouncementId">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" value="@announcement.AnnouncementId" name="announcementId" />
                                    <button type="button" class="btn btn-danger"
                                            onclick="deleteStudent('@announcement.AnnouncementId')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        let deleteStudent = (announcementId) => {
            let form = $('#announcement-delete-form-' + announcementId);
            $.ajax({
                type: 'POST',
                url: form.prop('action'),
                data: form.serialize(),
            })
                .done((data) => {
                    $.notify(data, 'success')
                    $("#announcement-" + announcementId).hide();
                })
                .fail((jqXHR) => {
                    $.notify(jqXHR.responseText, 'error');
                });
        };
    </script>
}