﻿@using PlatformaELearningowa.Web.Models.ViewModels.Courses
@using PlatformaELearningowa.Web.Models.ViewModels.Topics
@using PlatformaELearningowa.Web.Models.Entities
@using Microsoft.AspNetCore.Identity;

@model CourseDetailedVM
@{
    ViewData["Title"] = Model.Name;
}
<h2 class="row">@Html.Encode(Model.Name)</h2>

<div class="panel">
    <!-- COURSE DESCRIPTION SECTION -->
    <div class="row">
        @Model.Description
    </div>
    <hr />
    <!-- FILE UPLOAD SECTION -->
    <div class="container mt-3">
        @if (User.IsInRole("Teacher"))
        {
            <form asp-action="CourseFileUpload" asp-controller="Files"
                  method="post" class="row" enctype="multipart/form-data" id="file-upload-form">
                @Html.AntiForgeryToken()
                <input asp-for="CourseId" type="hidden" />
                <div class="col-md-8">
                    <div class="form-group">
                        <input name="File" id="FileUploadModel_File" type="file" class="filestyle"
                               data-text="Wybierz Plik" data-btnClass="btn-info" />
                        <span asp-validation-for="FileUploadModel.File" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="button" class="btn btn-success" value="Dodaj" onclick="uploadFile()" />
                    </div>
                </div>
            </form>
        }
        <!-- COURSE FILES DISPLAY SECTION -->
        @foreach (var file in Model.Files)
        {
            <div class="row mt-2" id="file-@file.FileId">
                <div class="col-md-8">
                    <a asp-action="CourseFileDownload" asp-controller="Files" asp-route-courseId="@Model.CourseId" asp-route-fileId="@file.FileId">
                        <i class="fa fa-file"></i> @file.Name
                    </a>
                </div>
                <div class="col-md-4">
                    @if (User.IsInRole("Teacher"))
                    {
                        <form asp-action="FileDelete" asp-controller="Files" method="post"
                              id="file-delete-form-@file.FileId">
                            @Html.AntiForgeryToken()
                            <input name="fileId" value="@file.FileId" type="hidden" />
                            <button class="btn btn-danger" type="button"
                                    onclick="deleteFile(@file.FileId)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    }
                </div>
            </div>
        }
    </div>
</div>
<hr />
<!-- ANNOUNCEMENTS DISPLAY-->
@if (Model.Announcements.Count() > 0)
{
    <div class="container">
        <div class="row ">
            <div class="col-md-12 text-center">
                <a href="#" class="text-center" onclick="$('#announcements').toggle()">Pokaż/Ukryj Ogłoszenia (@Model.Announcements.Count())</a>
            </div>
        </div>
        <a href="#" onclick="" hidden="hidden">Pokaż/Ukryj Ogłoszenia (@Model.Announcements.Count())</a>
        <div id="announcements" style="display:none;">
            <h3>Ogłoszenia</h3>
            <div class="list-group">
                @foreach (var announcement in Model.Announcements)
                {
                    <div class="list-group-item">
                        <h4>@announcement.Title</h4>
                        <p>@announcement.Content</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <hr />
}
<!-- COURSE TOPICS SECTION -->
<div class="list-group mt-5">
    @if (User.IsInRole("Teacher"))
    {
        <div class="list-group-item text-center">
            <a asp-action="Form" asp-controller="Topics" class="btn btn-success" asp-route-courseId="@Model.CourseId">Nowy Temat</a>
        </div>
    }
    @foreach (var t in Model.Topics.OrderBy(t => t.TopicNumber))
    {
        <div class="list-group-item" id="topic-@t.TopicId">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1 text-center">
                        <label class="text-primary">@t.TopicNumber.</label>
                    </div>
                    <div class="col-md-1 text-center">
                        @if (User.IsInRole("Teacher") && t.TopicNumber > Model.Topics.Min(tp => tp.TopicNumber))
                        {
                            <form asp-action="ChangeTopicNumber" asp-controller="Topics">
                                @Html.AntiForgeryToken()
                                <input hidden value="@t.TopicId" name="topicId" />
                                <input hidden value="@Model.CourseId" name="courseId" />
                                <input hidden value="@(t.TopicNumber - 1)" name="newNumber" />
                                <button type="button" class="btn btn-warning" onclick="moveTopic($(this.form))">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                            </form>
                        }
                    </div>
                    <div class="col-md-1 text-center">
                        @if (User.IsInRole("Teacher") && t.TopicNumber < Model.Topics.Max(tp => tp.TopicNumber))
                        {
                            <form asp-action="ChangeTopicNumber" asp-controller="Topics">
                                @Html.AntiForgeryToken()
                                <input hidden value="@t.TopicId" name="topicId" />
                                <input hidden value="@Model.CourseId" name="courseId" />
                                <input hidden value="@(t.TopicNumber + 1)" name="newNumber" />
                                <button type="button" class="btn btn-warning" onclick="moveTopic($(this.form))">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                            </form>
                        }
                    </div>
                    <div class=" col-md-6 text-center">
                        <a href="@Url.Action("Details", "Topics", new { courseId = t.CourseId, topicId = t.TopicId })">
                            @t.Name
                        </a>
                    </div>
                    <div class="offset-md-1 col-md-1">
                        @if (User.IsInRole("Teacher"))
                        {
                            <a asp-action="Form" asp-controller="Topics"
                               asp-route-courseId="@t.CourseId" asp-route-topicId="@t.TopicId"
                               class="btn btn-info">
                                <i class="fa fa-pencil"></i>
                            </a>
                        }
                    </div>
                    <div class="col-md-1">
                        @if (User.IsInRole("Teacher"))
                        {
                            <form asp-action="Delete" asp-controller="Topics" id="topic-delete-form-@t.TopicId">
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@t.CourseId" name="courseId" />
                                <input type="hidden" value="@t.TopicId" name="topicId" />
                                <button class="btn btn-danger" type="button" onclick="deleteTopic('@t.TopicId')"
                                        style="cursor:pointer; ">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>}
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @if (User.IsInRole("Teacher"))
    {
        <script>


            let deleteFile = (fileId) => {
                let deletionForm = $('#file-delete-form-' + fileId);

                $.ajax({
                    type: 'POST',
                    url: deletionForm.prop('action'),
                    data: deletionForm.serialize(),
                })
                    .done((data, textStatus, jqXHR) => {
                        $.notify(data, 'success');
                        $('#file-' + fileId).hide();
                    })
                    .fail((jqXHR, textStatus, errorThrown) => {
                        $.notify(jqXHR.responseText, "error");
                    });
            };

            let uploadFile = () => {
                let uploadForm = $('#file-upload-form');
                let data = new FormData(uploadForm[0]);

                $.ajax({
                    url: uploadForm.prop('action'),
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: data,
                })
                    .done(() => {
                        location.reload(true);
                    })
                    .fail((jqXHR, textStatus, errorThrown) => {
                        $.notify(jqXHR.responseText, "error");
                    });
            };

            let deleteTopic = (topicId) => {
                let deletionForm = $('#topic-delete-form-' + topicId);

                $.ajax({
                    url: deletionForm.prop('action'),
                    type: 'POST',
                    data: deletionForm.serialize(),
                })
                    .done((data, textStatus, jqXHR) => {
                        $.notify(data, 'success');
                        $('#topic-' + topicId).hide();
                    })
                    .fail((jqXHR, textStatus, errorThrown) => {
                        $.notify(jqXHR.responseText, "error");
                    });
            };

            let moveTopic = (form) => {
                let formData = form.serialize();
                $.ajax({
                    url: form.prop('action'),
                    type: 'POST',
                    data: formData,
                })
                    .done((data, textStatus, jqXHR) => {
                        location.reload(true);
                    })
                    .fail((jqXHR, textStatus, errorThrown) => {
                        $.notify(jqXHR.responseText);
                    });
            }
        </script>
    }
}