﻿@using PlatformaELearningowa.Web.Models.ViewModels.Courses
@model CourseEnrollmentVM

<div class="border border-success rounded p-5">
    <h3>Zapisz się do kursu</h3>
    <form asp-action="Enroll" asp-controller="Courses">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="CourseId"/>
        <div class="form-group">
            <label asp-for="EnrollmentKey"></label>
            <input asp-for="EnrollmentKey" class="form-control" />
            <span asp-validation-for="EnrollmentKey" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Zawierdź" class="btn btn-success"/>
        </div>
    </form>
</div>