﻿@using PlatformaELearningowa.Web.Models.ViewModels.Courses
@model CourseWriteVM

@{
    ViewData["Title"] = "Kurs";
    var editionForm = Model?.CourseId != null;
}
<div class="border border-success rounded p-5 mt-5">
    <h2>@(editionForm ? "Edytuj " : "Stwórz") kurs</h2>
    <form asp-action="@(editionForm ? "Update" : "Create")" asp-controller="Courses"
          enctype="multipart/form-data" method="post" class="">
        @Html.AntiForgeryToken()
        @if (editionForm)
        {
            <input asp-for="CourseId" type="hidden" />
        }
        <div class="form-group">
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" class="form-control" placeholder=""/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EnrollmentKey" class="col-form-label"></label>
            <input asp-for="EnrollmentKey" class="form-control"/>
            <span asp-validation-for="EnrollmentKey" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EnrollmentKeyConfirmation" class="col-form-label"></label>
            <input asp-for="EnrollmentKeyConfirmation" class="form-control"/>
            <span asp-validation-for="EnrollmentKeyConfirmation" class="text-danger"></span>
        </div>
        @*
        <div class="form-group">
            <label asp-for="Files"></label>
            <input asp-for="Files" class="form-control form-control-file" />
            <span asp-validation-for="Files" class="text-danger"></span>
        </div>
        *@
        <div class="form-group">
            <input type="submit" value="Zatwierdź" class="btn btn-success"/>
            <a class="btn btn-danger" href="@Url.Action("Index")">Anuluj</a>
        </div>

    </form>
</div>

