﻿@using PlatformaELearningowa.Web.Models.ViewModels.Courses
@model IEnumerable<CourseSimpleVM>
        
@{
    ViewData["Title"] = "Index";
}

<h2>Przedmioty</h2>

<div class="list-group">
    <div class="list-group-item text-center">
        <a asp-action="GetForm" class="btn btn-success">Nowy Przedmiot</a>
    </div>
    @foreach (CourseSimpleVM c in Model)
    {
        <div class="list-group-item" >
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-md-3 col-md-6 text-center">
                        <a href="@Url.Action("Details", new { courseId = c.CourseId })">
                            @c.Name
                        </a>
                    </div>
                    <div class="offset-md-1 col-md-1">
                        @if (User.IsInRole("Teacher"))
                        {
                        <a asp-action="GetForm" asp-controller="Courses" asp-route-courseId="@c.CourseId"
                           class="btn btn-info">
                            <i class="fa fa-pencil"></i>
                        </a>
                        }
                    </div>
                    <div class="col-md-1">
                        @if (User.IsInRole("Teacher"))
                        {
                        <form asp-action="Delete" asp-controller="Courses" asp-route-courseId="@c.CourseId">
                            @Html.AntiForgeryToken()
                            <input type="hidden" for="@c.CourseId" name="@c.CourseId" />
                            <button class="btn btn-danger" type="submit"
                                    value="Usuń" style="cursor:pointer; ">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>