﻿@using PlatformaELearningowa.Web.Models.ViewModels.Groups
@model GroupWriteVM
@{
    ViewData["Title"] = "Form";
}
<div class="border border-success rounded p-5 mt-5">
    <h2>@(Model != null ? "Edytuj " : "Stwórz") Grupę</h2>
    <form asp-action="Write" asp-controller="Groups"
          enctype="multipart/form-data" method="post" class="">
        @Html.AntiForgeryToken()
        @if (Model != null)
        {
            <input asp-for="GroupId" type="hidden" />
        }
        <div class="form-group">
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" class="form-control" placeholder="" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Zatwierdź" class="btn btn-success" />
            <a class="btn btn-danger" href="@Url.Action("Index")">Anuluj</a>
        </div>
    </form>
    @if (Model != null)
    {
        <hr />
        <h3>Powiązane Przedmioty</h3>
        <!-- Group Courses -->
        <div class="container mt-3">
            @if (Model.AvailableCourses.Count() > 0) {
                <form asp-action="AssociateCourse" asp-controller="Groups"
                      method="post" class="row">
                    <input type="hidden" name="groupId" value="@Model.GroupId" />
                    @Html.AntiForgeryToken()
                    <div class="col-md-8">
                        <div class="form-group">
                            <select name="courseId" class="form-control">
                                @foreach (var course in Model.AvailableCourses)
                                {
                                    <option value="@course.CourseId">
                                        @course.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Dodaj Przedmiot"/>
                        </div>
                    </div>
                </form>
            }
            <!-- Courses List -->
            @foreach (var course in Model.AssociatedCourses)
            {
                <div class="row mt-2" id="file-@course.CourseId">
                    <div class="col-md-8">
                        <a asp-action="Details" asp-controller="Courses" asp-route-courseId="@course.CourseId">
                            @course.Name
                        </a>
                    </div>
                    <div class="col-md-4">
                        <form asp-action="UnassociateCourse" asp-controller="Groups" method="post"
                              id="course-delete-form-@course.CourseId">
                            @Html.AntiForgeryToken()
                            <input name="courseId" value="@course.CourseId" type="hidden" />
                            <input name="groupId" value="@Model.GroupId" type="hidden" />
                            <button class="btn btn-danger" type="submit">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    }
</div>