﻿@using PlatformaELearningowa.Web.Models.ViewModels.Groups
@model IEnumerable<GroupSimpleVM>
@{
    ViewData["Title"] = "Index";
}
<h2>Grupy</h2>
<div class="list-group">
    <div class="list-group-item text-center">
        <a href="@Url.Action("Form", "Groups")"
           class="btn btn-success">
            Stwórz Grupę
        </a>
    </div>
    @foreach(var group in Model)
    {
        <div class="list-group-item text-center" id="group-@group.GroupId">
            <div class="container">
                <div class="row">
                    <div class="offset-md-2 col-md-8">
                        @group.Name
                    </div>
                    <div class="col-md-1">
                            <a href="@Url.Action("Form", "Groups", new { groupId = group.GroupId })"
                               class="btn btn-info">
                                <i class="fa fa-pencil"></i>
                            </a>
                    </div>
                    <div class="col-md-1">
                        <form asp-action="Delete" asp-controller="Groups" method="post"
                              id="group-deletion-form-@group.GroupId">
                            <input type="hidden" asp-for="@group.GroupId" name="groupId"/>
                            <button type="button" class="btn btn-danger" onclick="deleteGroup(@group.GroupId)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts{ 
    <script>
        var deleteGroup = (groupId) => {
            var groupForm = $('#group-deletion-form-' + groupId);
            $.ajax({
                url: groupForm.prop('action'),
                method: 'POST',
                data: groupForm.serialize()
            })
                .done((data) => {
                    $.notify(data, 'success');
                    $('#group-' + groupId).hide();
                })
                .fail((jqXHR) => {
                    $.notify(jqXHR.responseText, 'error');
                });
        };
    </script>
}